* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
 .app-container {
  margin-top: 73px; 
  margin-left: 200px;
} 
@media screen and (max-width: 768px) {
  .app-container {
    margin-top: 0;
    margin-left: 0;
  }
}

/* Estilo para el fondo con imagen login*/
.with-background {
  background-image: url('./assets/imagenes/PortadaLogin.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0; 
  padding: 0; 
}
/* Estilo para el fondo con imagen index*/
.index-background{
  background-image: url('./assets/imagenes/InicioVet.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.usuarios-background{
  background-image: url('./assets/imagenes/usuariosVet.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}
.mascotas-background{
  background-image: url('./assets/imagenes/GatoyPerro.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}
.crearMascota-background{
  background-image: url('./assets/imagenes/addPet.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}
.centro{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos generales para el contenedor principal */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Estilos específicos para la tarjeta de login */
.login-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(61, 135, 204, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario dentro del login-card */
form {
  width: 100%;
}

label {
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #6e776f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #484b48;
}

.forgot-password {
  margin-top: 16px;
  font-size: 14px;
}



/* NavbarTop */
.logo-image {
  width: 150px;
  height: auto; 
  margin-bottom: 5px;
  margin-left: 35px;
  margin-right: 400px;
}
.logo-imagen {
  width: 150px;
  height: auto; 
  margin-bottom: 5px;
  margin-left: 140px;

}

.welcome {
  font-size: 16px;
  font-weight: bold;
}


.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Navbarleft */
.vertical-nav {
  background-color: rgb(217, 217, 217);
  color: black;
  width: 200px;
  position: fixed; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
.main-content {
  margin-left: 200px;
  padding: 20px;
}
.vertical-nav ul {
  list-style-type: none;
  padding: 0;
}

.vertical-nav li {
  padding: 10px;
  text-align: left;
}

.vertical-nav a {
  text-decoration: none;
  color: black;
}

.vertical-nav a span {
  margin-left: 10px;
}

.vertical-nav a svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* CSS existente para NavbarTop */

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    margin-top: 10px; 
  }

  .search-input {
    width: 100%;
  }

  .welcome {
    margin-top: 10px; 
  }
}

/* hacerlo responsive */
@media screen and (max-width: 768px) {
  .vertical-nav {
    width: 100%;
    height: auto;
    position: fixed;
  }

  .vertical-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .vertical-nav li {
    margin-bottom: 10px; 
  }
}

/* Añade estilos para el hamburger menu */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

/* Añade media query para estilos responsivos */
@media screen and (max-width: 768px) {
  .vertical-nav ul {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .vertical-nav.open ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*Stilo en index*/
.welcome-container {
  text-align: center;
  color: white;
}

.welcome-container h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.welcome-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/*usuarios css*/
.usuarios-container {
  max-width: 800px;
  margin: 20px auto;
}
.usuarios-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.usuarios-title {
  color: white;
}

.usuarios-agregar-btn {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(217, 217, 217);
  color: black;
  border: none;
  cursor: pointer;
}

.usuarios-hr {
  border: 1px solid #ddd;
}

.usuarios-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.usuarios-table th, .usuarios-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.usuarios-table th {
  background-color: rgb(217, 217, 217);
  color: black;
}

.usuarios-detalles-btn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.usuarios-detalles-btn:hover {
  background-color: #0b7dda;
}
.text{
  color:white;
}

/*formulario Nuevo Usuario*/
.card {
  width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5); 
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 20px;
}

.cancelar-btn {
  background-color: #d9534f;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.cancelar-btn:hover {
  background-color: #c9302c;
}

hr {
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.formulario-usuario {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}



.foto-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.foto-preview {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.agregar-foto-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(13, 0, 255, 0.2);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  .icon {
    margin-right: 8px;
  }

  font-size: 16px; 
  width: 150px; 
  height: 150px; 

  &:hover {
    background-color: rgba(13, 0, 255);
  }
}

.agregar-foto-btn:hover {
  background-color: #0056b3;
}

.agregar-foto-btn svg {
  margin-right: 5px;
}
.guardar-btn {
  background-color: #5cb85c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.guardar-btn:hover {
  background-color: #4cae4c;
}
/*mascotas*/
.mascota-title {
  color: black;
}
.mascota-text{
  padding: 10px;
  border: 1px solid #ccc;
}
.card-mascota {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
}
